<div class="container">
    <div class="content">
        <h2>Dreamers clothing</h2>
        <h3>Bring the best service for you</h3>
        <p> tel: 0342570297</p>
        <p> address: 21 Jump street, My dinh, Ha noi</p>
        <div class="list">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>            
                <i class="fab fa-tiktok"></i>    
                <i class="fas fa-envelope"></i>  
        </div>
    </div>
</div>