<app-header></app-header>
<div class="container">
    <div class="product-w100">
        <img style="width: 100vw;" src="assets/ellemanvn-cac-loai-co-ao-somi-nam-1.jpeg" alt="">
    </div>
    <div class="product-w25">
        <img src="assets/ao-so-mi-trang-nam_e36a7973933749e78d1441bde263d785_grande.jpeg" alt="">
        <div class="content">
            <div>
                <h2>Best seller product</h2>
                <button class="buynow">
                    Buy now
                </button>

            </div>
        </div>
    </div>
    <div class="product-w25-mid">
        <img src="assets/w25-mid.jpeg" alt="">
    </div>
    <div class="product-w25-last">
        <div class="content">
            <div>
                <h2>Get the voucher</h2>
                <button class="buynow">
                    50% Sale off
                </button>

            </div>
        </div>
        <img src="assets/ao-so-mi-trang-nam_e36a7973933749e78d1441bde263d785_grande.jpeg" alt="">
    </div>
</div>
<app-footer></app-footer>
