<div class="container">
    <!-- <div class="cover-image-holder">
        <img class="cover-image" src="assets/81Mzc-PLiDL._RI_.jpg" alt="">
    </div> -->
    <!-- <div class="marquee-holder">
        <marquee width="90%" direction="right" scrolldelay="400" >
            This is a sample scrolling text that has scrolls texts to right.
            </marquee>
    </div> -->
    <div class="logo-holder">
        <img src="assets/logo1.png" alt="">
    </div>
    <div class="nav-bar">
        <ul>
            <li>Dreamers Clothing</li>
            <li>Dreamers Costume</li>
            <li>Product List</li>
            <li>About us</li>
        </ul>
    </div>
</div>